html, body { height: 100%; margin: 0; padding: 0; }

#map { 
	margin: 3%;
	height: 300px; 
	width: 1000px;
}

.visible {
	display: none;
}

.initial-button {
	margin: 2%;
}

#RListButton {
	float: right;
    margin: 0 100px 0px 200px;
}



